:root {
  --font: "Jost", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-number: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-en: "Gallery Modern", serif;
  // --font-en: 'SchnyderMLight', serif;

  --vh: 1vh;
  --leading-trim: calc((1em - 1lh) / 2);

  --grid: calc(1 / 12 * 100vw);
  --gap: calc(30 / 750 * 100vw);

  --color-text: #1e1f1f;
  --color-bg: #c4c4c4;

  @media (prefers-color-scheme: dark) {
    --color-text: #c4c4c4;
    --color-bg: #1e1f1f;
  }
}

@supports not (top: 1lh) {
  :root {
    --leading-trim: 0px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: calc(10 / 1280 * 100vw);
  width: 100%;
  min-height: calc(var(--vh) * 100);
  min-height: 100svh;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  @media (min-width: 1280px) {
    font-size: calc(10px + (12 - 10) * ((100vw - 1280px) / (1680 - 1280)));
  }

  @media screen and (max-width: 639px) {
    font-size: 10px;
  }

  @media (min-width: 1680px) {
    font-size: 12px;
  }
}

body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-x: clip;
  overflow-wrap: break-word;
  font-family: var(--font) !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: var(--color-text);
  background-color: var(--color-bg);

  & ::-moz-selection {
    color: #fff;
    background: var(--color-text);
  }

  & ::selection {
    color: #fff;
    background: var(--color-text);
  }

  @media (min-resolution: 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

picture {
  display: block;
}

summary {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

:where(ul, ol) {
  list-style: none;
  list-style-type: "";
  padding: unset;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  touch-action: manipulation;
}

:where(
    :any-link,
    button,
    [type="button"],
    [type="reset"],
    [type="submit"],
    label[for],
    select,
    summary,
    [role="tab"],
    [role="button"]
  ) {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: none;
}

[data-whatinput="touch"] :focus {
  outline: none;
}

:focus {
  outline-color: var(--color-theme);
}

:any-link {
  //
}

[hidden]:not([hidden="until-found"]) {
  display: none !important;
}
