@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: "Jost", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
    --font-number: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-en: "Gallery Modern", serif;

    --vh: 1svh;
    --100vh: 100svh;

    --leading-trim: calc((1em - 1lh) / 2);

    --ease-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-power3-out: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);

    --grid: calc(1 / 12 * 100vw);
    --gap: calc(30 / 750 * 100vw);

    --color-text: rgb(30, 31, 31);
    --color-bg: rgb(219, 214, 208);

    @media (prefers-color-scheme: dark) {
      --color-text: rgb(219, 214, 208);
      --color-bg: rgb(30, 31, 31);
    }
  }

  @supports not (top: 1lh) {
    :root {
      --leading-trim: 0px;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    width: 100%;
    min-height: calc(var(--vh) * 100);
    min-height: 100svh;
    font-size: calc(10 / 16 * 100%);
    text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    @media screen and (max-width: 1080px) {
      font-size: calc(9 / 16 * 100%);
    }

    @media screen and (max-width: 960px) {
      font-size: calc(8 / 16 * 100%);
    }

    @media screen and (max-width: 854px) {
      font-size: calc(7 / 16 * 100%);
    }

    @media screen and (max-width: 767px) {
      font-size: calc(6 / 16 * 100%);
    }

    @media screen and (max-width: 639px) {
      font-size: calc(10 / 16 * 100%);
    }

    @media (min-width: 1680px) {
      font-size: calc(12 / 16 * 100%);
    }
  }

  body {
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
    overflow-x: clip;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: var(--font);
    overflow-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @media (min-resolution: 1.5dppx) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  body ::-moz-selection {
    color: var(--color-bg);
    background: var(--color-text);
  }

  body ::selection {
    color: var(--color-bg);
    background: var(--color-text);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  picture {
    display: block;
  }

  summary {
    display: block;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  :where(ul, ol) {
    list-style: none;
    list-style-type: "";
    padding: unset;
  }

  :where(button, [type="button"], [type="reset"], [type="submit"]) {
    touch-action: manipulation;
  }

  :where(
      :any-link,
      button,
      [type="button"],
      [type="reset"],
      [type="submit"],
      label[for],
      select,
      summary,
      [role="tab"],
      [role="button"]
    ) {
    cursor: pointer;
  }

  :where(:focus-visible) {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
  }

  :focus {
    outline-color: var(--color-theme);
  }

  [data-whatinput="keyboard"] *:focus {
    outline: 2px solid Canvas;
  }

  [hidden]:not([hidden="until-found"]) {
    display: none !important;
  }
}

@layer components {
  .grad {
    pointer-events: none;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 11;
    left: 0;
    opacity: 0.5;

    @media (prefers-color-scheme: dark) {
      opacity: 1;
    }
  }

  .grad--upper {
    top: 0;

    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0.49016) 1.17%,
      hsla(0, 0%, 0%, 0.46296) 4.49%,
      hsla(0, 0%, 0%, 0.42188) 9.72%,
      hsla(0, 0%, 0%, 0.37037) 16.59%,
      hsla(0, 0%, 0%, 0.31192) 24.86%,
      hsla(0, 0%, 0%, 0.25) 34.25%,
      hsla(0, 0%, 0%, 0.18808) 44.52%,
      hsla(0, 0%, 0%, 0.12963) 55.41%,
      hsla(0, 0%, 0%, 0.07813) 66.66%,
      hsla(0, 0%, 0%, 0.03704) 78.01%,
      hsla(0, 0%, 0%, 0.00984) 89.21%,
      hsla(0, 0%, 0%, 0)
    );
  }

  .grad--lower {
    bottom: 0;

    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.00984) 10.79%,
      hsla(0, 0%, 0%, 0.03704) 21.99%,
      hsla(0, 0%, 0%, 0.07813) 33.34%,
      hsla(0, 0%, 0%, 0.12963) 44.59%,
      hsla(0, 0%, 0%, 0.18808) 55.48%,
      hsla(0, 0%, 0%, 0.25) 65.75%,
      hsla(0, 0%, 0%, 0.31192) 75.14%,
      hsla(0, 0%, 0%, 0.37037) 83.41%,
      hsla(0, 0%, 0%, 0.42188) 90.28%,
      hsla(0, 0%, 0%, 0.46296) 95.51%,
      hsla(0, 0%, 0%, 0.49016) 98.83%,
      hsla(0, 0%, 0%, 0.5)
    );
  }

  .grid-vr {
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
    background: rgba(30, 31, 31, 0.07);

    @media (prefers-color-scheme: dark) {
      background: rgba(219, 214, 208, 0.05);
    }
  }

  .grid-hr {
    pointer-events: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(30, 31, 31, 0.07);

    @media (prefers-color-scheme: dark) {
      background: rgba(219, 214, 208, 0.05);
    }
  }

  .ui-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(219, 214, 208));

    @media (prefers-color-scheme: dark) {
      background: var(--color-bg);
    }
  }

  .ui-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;

    @media not (hover: hover) {
      display: none !important;
    }
  }

  .ui-canvas {
    contain: strict;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: clip;
    transform: rotate(0.0001deg);
    pointer-events: none;
    user-select: none;
  }

  .tp-layout {
    @apply relative grid justify-center h-[--100vh] pc:grid-cols-2 pc:h-auto pc:items-start;
  }

  .tp-layoutHead {
    @apply absolute right-[--gap] top-[2.4rem] pc:sticky pc:top-0 pc:pt-[4.8rem] pc:pb-[6rem] pc:p-[--gap] pc:h-[--100vh];
  }

  .tp-layoutBody {
    @apply relative w-[calc(var(--grid)*12)] overflow-hidden pc:w-fit pc:aspect-auto;
  }

  .ws-layout {
  }

  .ws-layoutHead {
    @apply absolute right-[--gap] top-[2.4rem] pc:sticky pc:top-0 pc:pt-[4.8rem] pc:pb-[6rem] pc:p-[--gap] pc:h-[--100vh];
  }

  .ws-layoutBody {
    @apply relative aspect-[4/5] w-[calc(var(--grid)*9)] pc:w-fit pc:aspect-auto;
  }
}
