---
import dotenv from 'dotenv';
// import Home from '../_components/page/home';
import { WorkRepository } from '../_repositories/work/repository';
import Head from "../_components/ui/layout/head.astro"
import Meta from "../_components/ui/layout/meta.astro"
import Layout from "../_components/ui/layout/default.astro"

dotenv.config();

export async function getStaticPaths() {
  const repository = WorkRepository.create(process.env.API_KEY);
  const result = await repository.findAll();

  const { works } = result
  const last = works[works.length - 1]

  return works.map((item, index) => ({
    params: {
      slug: item.id,
    },
    props: {
      post: item,
      next: last.id === item.id ? works[0] : works[index + 1],
      totalCount: result.totalCount,
      currentIndex: index + 1
    },
  }));
}

const { post, next, totalCount, currentIndex } = Astro.props;

---

<Head>
  <Meta title="" url="" />
</Head>
<Layout>
  <div id="main" class="w-full absolute top-0 left-0 backface-hidden | sp:fixed sp:overflow-hidden" data-ref="main">
    <div class="h-full" data-xhr="home" data-ref="scrollTarget">

    </div>
  </div>
</Layout>
