---
import Head from '../components/Head.astro'
import AboutContainer from '../components/page/About/Container.jsx'


---

<html lang="ja">
<head>
  <Head />
</head>
<body>
  <AboutContainer client:visible />
</body>
</html>
