---
import Head from '../components/Head.astro'
import PageContainer from '../components/page/home/Container.astro'

---

<html lang="en">
<head>
	<Head title="ABOUT" />
</head>
<body>
	<PageContainer />
</body>
</html>
