---
import Head from '../components/Head.astro'
import PageContainer from '../components/route/Home/Container.astro'

---

<html lang="ja">
<head>
  <Head />
</head>
<body>
  <PageContainer />
</body>
</html>
