---
import Head from '../components/Head.astro'
import Index from '../components/index.astro'

---

<html lang="ja">
<head>
  <Head />
</head>
<body>
  <div>
    <Index client:media />
  </div>
</body>
</html>
