---
import Head from '../components/Head.astro'
import HomeContainer from '../components/page/Home/Container.jsx'

---

<html lang="ja">
<head>
  <Head />
</head>
<body>
  <HomeContainer />
</body>
</html>
