$mq-pc: 640px;

.h1 {
  position: fixed;
  bottom: -0.2em;
  left: -0.075em;
  font-size: 13.5vw;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.h1__sub {
  font-family: var(--font-heading);
  margin-right: 0.25em;
}

.h1__main {
  font-family: var(--font-en);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0 2.4rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  width: 100%;
  padding-top: 8rem;
}

.entry {
  font-size: 3.5vw;
  // line-height: 4.2708vw;
  // line-height: 1.2;
  line-height: 1.15;
  font-family: var(--font-en);
  opacity: 0.3;
  overflow: hidden;
  letter-spacing: 0.025em;
  display: block;
  margin-top: -0.2em;
}
