/* @tailwind base; */

.static {
  position: static
}

.fixed {
  position: fixed
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.h-screen {
  height: 100vh
}

.w-screen {
  width: 100vw
}

.resize {
  resize: both
}
