/* @tailwind base; */

.static {
  position: static
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.m-\[2rem\] {
  margin: 2rem
}

.h-screen {
  height: 100vh
}

.w-screen {
  width: 100vw
}

@media (min-width: 640px) {
  .sm\:relative {
    position: relative
  }

  .sm\:text-center {
    text-align: center
  }
}
