---
import dotenv from 'dotenv';
import { WorkRepository } from '../../_repositories/work/repository';
import { WorkItemUseCase } from '../../_components/page/work.$id/reader';
import ContentLayout from "../../_components/ui/layout/default.astro"
import Head from "../../_components/ui/layout/head.astro"
import Seo from "../../_components/ui/layout/seo.astro"

dotenv.config();

export async function getStaticPaths() {
  const repository = WorkRepository.create(process.env.API_KEY);
  const useCase = new WorkItemUseCase(repository)
  return useCase.execute();
}

const { post, next, totalCount, currentIndex } = Astro.props;

---

<Head>
  <Seo title={post.name} url={`/${post.id}/`} />
</Head>
<ContentLayout namespace="work-single">
  <div id="main" class="w-full absolute top-0 left-0 backface-hidden | sp:fixed sp:overflow-hidden" data-ref="main">
    <div class="h-full" data-xhr="home" data-ref="scrollTarget">

    </div>
  </div>
</ContentLayout>
